.App {
  text-align: center;
}


/* Burger Menu */

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

:root {
  --primary-color: #654F3B;
  --secondary-color: #9C976A;
  --third-color: #EDDFB0;
  --dark-color: #000000;
  --light-color: #c4c4c4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}



/* Burger Menu */

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background-color: #9C976A;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
 
 
 
}


/* @media screen and (max-width: 320px){
  .bm-menu {
    width: 40%;
  }
 } */




.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  
  
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  
}

nav a{
 
    font-size: 1.7rem;
    padding: 1rem 0;
    
    text-align: center;
    height: 50px;
    margin-top: 0rem;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #C4C4C4;
    background-color: #654F3B;
    text-decoration: none;
    transition: color 0.3s linear;
    text-shadow: 1px 1px gold;
    
}

