.App {
  text-align: center;
  height: 100vh;
}

:root {
  --primary-color: #654F3B;
  --secondary-color: #9C976A;
  --third-color: #EDDFB0;
  --dark-color: #000000;
  --light-color: #c4c4c4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}